.container{
  padding: 10px;
  display: flex;
  justify-content: space-between; 
}

.button{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:disabled{
  cursor: not-allowed;
}