.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icons {
  display: flex;
  gap: 20px;
}
