.container {
  position: sticky;
  top: 40px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.userTitle {
  font-size: 12px;
  color: var(--textSoft);
}

.list {
  list-style: none;
}

.item {
  color: var(--textSoft);
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0;
}

.logout {
  padding: 20px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  width: 100%;
  color: #fff;
}

.logout:hover {
  background-color: #2e374a;
}
